In [1]:
# importing necessary modules

import pandas as pd
import numpy as np

df = pd.read_csv("./Salaries.csv")
# read `Salaries` dataset

### 1. Basic Data Exploration: Identify the number of rows and columns in the dataset, determine the data types of each column, and check for missing values in each column.

Since `df` uses the default 0-based pandas's indexing method, we can get the # rows by getting the last index + 1.

In [2]:
print(f"Total # of rows: {df.index[-1] + 1}\nTotal # of columns: {len(df.columns)}")

Total # of rows: 148654
Total # of columns: 13

#### Types of each column:

In [3]:
print(df.columns)

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

Id: unique identifier (nominal).

EmployeeName, JobTitle: nominal.

BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits: continuous, seince they contains a fractions.

Year: discrete.

Notes, Status: null values, they represent missing or undefined values, they could be nominal.

Agency: nominal.

#### Checking for missing values:

In [4]:
columns_with_mv = df.isna().any()
columns_with_mv.name = "Columns with missing values"
print(columns_with_mv)

Id                  False
EmployeeName        False
JobTitle            False
BasePay              True
OvertimePay          True
OtherPay             True
Benefits             True
TotalPay            False
TotalPayBenefits    False
Year                False
Notes                True
Agency              False
Status               True
Name: Columns with missing values, dtype: bool

 ### 2. Calculate basic statistics mean, median, mode, minimum, and maximum salary, determine the range of salaries, and find the standard deviation.

- Descriptive stat. for numerical attributes:

In [5]:
print(df.drop(columns=["Id"]).describe(include=["number"]))

             BasePay    OvertimePay       OtherPay       Benefits  \
count  148045.000000  148650.000000  148650.000000  112491.000000
mean    66325.448840    5066.059886    3648.767297   25007.893151
std     42764.635495   11454.380559    8056.601866   15402.215858
min      -166.010000      -0.010000   -7058.590000     -33.890000
25%     33588.200000       0.000000       0.000000   11535.395000
50%     65007.450000       0.000000     811.270000   28628.620000
75%     94691.050000    4658.175000    4236.065000   35566.855000
max    319275.010000  245131.880000  400184.250000   96570.660000

            TotalPay  TotalPayBenefits           Year  Notes  Status
count  148654.000000     148654.000000  148654.000000    0.0     0.0
mean    74768.321972      93692.554811    2012.522643    NaN     NaN
std     50517.005274      62793.533483       1.117538    NaN     NaN
min      -618.130000       -618.130000    2011.000000    NaN     NaN
25%     36168.995000      44065.650000    2012.000000    NaN     NaN
50%     71426.610000      92404.090000    2013.000000    NaN     NaN
75%    105839.135000     132876.450000    2014.000000    NaN     NaN
max    567595.430000     567595.430000    2014.000000    NaN     NaN

- Descriptive stat. for categorical attributes:

In [6]:
print(df.describe(include=["object"]))

       EmployeeName          JobTitle         Agency
count        148654            148654         148654
unique       110811              2159              1
top       Kevin Lee  Transit Operator  San Francisco
freq             13              7036         148654